.eventCardContainer {
  background-color: whitesmoke;
  width: 60%;
  height: 100%;
  color: black;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px 2px orange;
}

.orange {
  color: orange;
  font-size: 1rem;
}

.imageContainer {
  width: 25vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
}

.cardDetailsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.cardDetails {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.2rem;
  font-size: 0.8rem;
}

.description {
  width: 100%;
  height: 15px;
  text-overflow: ellipsis;
  text-align: justify;
  overflow-y: hidden;
}

.description::-webkit-scrollbar {
  display: none;
}

.cardControls {
  display: flex;
  gap: 2rem;
}

.cardControls button {
  padding: 5px 15px;
  border: 2px solid orange;
  color: orange;
  box-shadow: none;
  font-weight: bold;
}

.cardControls button:hover {
  background-color: orange;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .eventCardContainer {
    width: 85%;
    flex-direction: column;
    gap: 0.5rem;
  }

  .imageContainer {
    width: 100%;
    height: 100%;
  }

  .cardControls {
    width: 100%;
    flex-direction: column;
    margin: auto;
    gap: 0.5rem;
  }

  .cardControls button {
    width: 100%;
  }
}
