.navbarContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  color: orange;
  font-weight: bolder;
}
